# Any private crt and keys #
############################
*-day.crt
*-day.key
nginx-repo.*
license.jwt
*~
\#*

# OS Specific #
###############
Thumbs.db
.DS_Store
.vscode

# Logs #
########
*.log

# csv files#
############
*.csv